
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: montserrat;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px  rgba(0, 0, 0, 0.1);
}
.image {
  vertical-align: middle;
  width: 300px;
  border-radius: 10px 0px 0px 10px;

}
.image2 {
  display: none;
}
p {
  font-size: 14px;
  line-height: 22px;
  color:  hsl(228, 12%, 48%);

}
h1 {
  font-family: fraunces;
  line-height: 30px;
}
h2 {
  font-size: 13px;
  color: hsl(228, 12%, 48%);
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 4px;

}
.text-container {
  width: 300px;
  background-color: white;
  padding: 30px;
  margin: 0;
  border-radius: 0px 10px 10px 0px;

}
.image-container {
  height: 100%;
}
.button-container {
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.button-container:hover {
  background-color:  hsl(158, 75%, 16%);
}
.button-container:hover .button {
  background-color:  hsl(158, 75%, 16%);
}
.button {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 6px;
  transition: 0.3s;
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  font-family: fraunces;
  color: hsl(158, 36%, 37%);

}
.price-old {
  font-size: 13px;
  font-weight: 400;
  color:  hsl(228, 12%, 48%);
  font-family: montserrat;
  margin-left: 20px;
  text-decoration: line-through;
}

@media(max-width: 600px){
 main{ flex-direction: column;}
 .image {
  display: none;

 }
 .image2 {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
 }
 .text-container {
   width: 274px;
   padding: 20px;
   border-radius: 0px 0px 10px 10px;
   margin: 0;
   height:300px;
  }

.image-container {
  width: 312px;
  border-radius: 10px 10px 0px 0px;
}
main {
  width: 312px;
  border-radius: 10px;
}
h2{
  font-size: 12px;
  margin: 0;
  margin-bottom: 10px;
}
h1{
  font-size: 29px;
  margin: 0;

}
p{
  font-size: 13px;
}
.button-container {
  margin: 0;
  margin-top: 20px;
}
.price {
  margin: 0;
  margin-top: 20px;

}
}

